# Node
node_modules
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Env
.env.example
.env.*

# Build outputs
**/dist/
**/build/
**/.vite/
**/.cache/

# Coverage
coverage/

# OS
.DS_Store

# Editor
.vscode/
.idea/
*.swp

# Runtime
*.pid
*.seed
*.pid.lock

# Misc
*.tgz
